/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}

/* ---- Nav-bar ---- */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #80808075;

}

/* ---- Select City ---- */

.css-1domaf0 {
  border: 1px solid #80808075;
  display: -webkit-inline-box;
  border-radius: 10px;
}

.css-1hwfws3 {
  width: 83%
}

